@import '../linear-gradient.scss';

$primary: #0b3c5d;
$accent: #d9b310;
$dark: #2c2c34;
$light: #fafafa;
$white: #fff;

*, :after, :before {
    box-sizing: inherit;
}

html,
body {
  height: 100%;
}
html {
	font-size: 14px;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	color: rgba(0,0,0,0.87);
}
body {
	margin: 0;
	padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #FFFFFF;
  font-size: 14px;
  line-height: 1.4285em;
	color: rgba(0, 0, 0, 0.87);
	font-family: "Roboto", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	background-color: $light;
	
	::selection {
		background-color: $accent;
		color: #ffffff;
	}
}

li,
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	transition: color .3s ease;	
}

a, .link, button {
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 4.2rem;
	line-height: 110%;
	margin: 2.1rem 0 1.68rem 0
}

h2 {
	font-size: 3.56rem;
	line-height: 110%;
	margin: 1.78rem 0 1.424rem 0
}

h3 {
	color: $primary;
	font-size: 2.92rem;
	line-height: 110%;
	margin: 1.46rem 0 1.168rem 0
}

h4 {
	font-size: 2.28rem;
	line-height: 110%;
	margin: 1.14rem 0 .912rem 0
}

h5 {
	font-size: 1.64rem;
	line-height: 110%;
	margin: .82rem 0 .656rem 0
}

h6 {
	font-size: 1rem;
	line-height: 110%;
	margin: .5rem 0 .4rem 0
}

.App {
	display: grid;
	text-align: center;
	grid-column-gap: 5%;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
}

#about, #projects, #experience {
	padding-top: 1rem;
	margin-top: 2rem;
}

#about > p {
	text-align: left;
}

#skills {
	padding-top: 2rem;
	div {
		text-align: left;
		p {
			margin-top: 0.3em;
		}
	}
}

.main {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.portrait {
	width: 15rem;
	border-radius: 100%;
	text-align: center;
}

@keyframes bounce {
	0%,
	100% {
		transform: translate(-50%, 0);
	}
	50% {
		transform: translate(-50%, 40%);
	}
}

.bullets {
	padding-left: 1em;
	
	.bullet {
		list-style-type: disc;
	
		&::marker {
			color: $primary;
			background-color: $primary;
		}
	}
}

.button {
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	user-select: none;
	margin: 0 .25rem;
	z-index: 1;
	transition: .3s ease-out;
	color: $white;
	background-color: $accent;
	letter-spacing: .5px;
	font-size: 1rem;
	outline: 0;
	border: none;
	border-radius: 2px;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	text-transform: uppercase;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

	&:hover {
		background-color: lighten($accent, 20);
		box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
	}

	&:focus {
		background-color: darken($accent, 20);
	}
}

// logo
.line,
.outline {
	fill: none;
	stroke: $white;
	stroke-linecap: round;
	stroke-width: 60px;
}
.line {
	stroke-linejoin: round;
}
.outline {
	stroke-miterlimit: 10;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.App {
		grid-column-gap: 10%;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.App {
		grid-column-gap: 15%;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.App {
		grid-column-gap: 25%;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.App {
		grid-column-gap: 30%;
	}
}
