:root {
  /* immutable brand colors to keep single definition */
  --navy: #0b3c5d;
  --deep-navy: hsl(204.15deg, 35%, 7%);
  --gold: #d9b310;

  --grey-0: #ffffff;
  --grey-1: #fafafa;
  --grey-2: #cccccc;
  --grey-3: #2c2c34;
  --grey-4: #121212;

  --text-1: rgba(0, 0, 0, 0.87);
  --text-2: rgba(255, 255, 255, 0.7);

  /* variables for pallette swapping or something maybe */
  --primary: var(--navy);
  --secondary: var(--grey-1);
  --accent: var(--gold);
  --dark: var(--grey-3);
  --light: var(--grey-2);
  --text: var(--text-1);
}

*,
:after,
:before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  /* NOTE: when moving this from 14px -> 18px, I updated most `rem` values to be 16/18 of their previous size to average between maintaining and adjusting since body font size was the main problem. this kinda presumes I nailed spacing the first time... */
  font-size: 18px;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: var(--text);
  /* height of sticky header */
  scroll-padding-top: 60px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  font-size: 18px;
  line-height: 1.4285em;
  color: var(--text);
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body::selection {
  background-color: var(--accent);
  color: var(--grey-0);
}

li,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a,
.link,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  line-height: 110%;
}

h1 {
  font-size: 3.73rem;
  margin: 1.87rem 0 1.49rem 0;
}
h2 {
  font-size: 3.17rem;
  margin: 1.58rem 0 1.27rem 0;
}

h3 {
  font-size: 2.01rem;
  margin: 1.3rem 0 1.04rem 0;
}

h4 {
  font-size: 1.872rem;
  margin: 1.01rem 0 0.81rem 0;
}

h5 {
  font-size: 1.46rem;
  margin: 0.73rem 0 0.58rem 0;
}

h6 {
  font-size: 0.89rem;
  margin: 0.44rem 0 0.36rem 0;
}

button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.8525rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 40rem;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-2);
    background-color: var(--deep-navy);
  }
}
