$primary: #9ebc9e;
$secondary: #4d7298;
$accent: #e0479e;
$dark: #2c2c34;
$white: #FFF;

html {
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	color: rgba(0,0,0,0.87);
	font-size: 14px;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #fafafa;
}

.App {
	display: grid;
	text-align: center;
	grid-column-gap: 5%;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
}

#about, #projects, .App .main > div:nth-child(2) {
	padding-top: 1rem;
	margin-top: 2rem;
}

.main {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.portrait {
	display: none;
	width: 100%;
}

#skills p {
	text-align: left;
}

#title {
	grid-row: 1 / 2;
	grid-column: 1 / 4;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	background-color: $primary;
	color: $white;
	h2 {
		font-family: 'Roboto Condensed', sans-serif;
	}
	.chevron {
		position: absolute;
		bottom: 5%;
    left: 50%;
		color: $white;
		animation: bounce 4s ease-in-out infinite;
		&:hover {
			cursor: pointer;
		}
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translate(-50%, 0);
	}
	50% {
		transform: translate(-50%, 40%);
	}
}

nav {
	position: fixed;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	width: 100%;
	top: 0;
	align-items: center;
	z-index: 9;
	background-color: $primary;

	div:first-child {
		justify-self: end;
	}

	div:last-child {
		justify-self: start;
	}

	.logo {
		padding: 10px;
		width: 40px;
		height: 40px;
	}

	.link {
		color: $white;
		padding: 5px;

		&:hover {
		};
	}
}

.icons {
	padding: 10px 0;
	a {
		color: $white;
	}
}

#projects {
	.tabs {
		// background-color: $primary;
		color: $secondary;
		padding: 1rem 0;
		// display: flex;
		align-content: center;
		align-items: center;
		.active {
			border-bottom: 5px solid $accent;
		}
		a {
			font-size: 1.25rem;
			margin: 0 10px;
			padding: 10px 0;
			&:hover {
				cursor: pointer;
				&:not(.active) {
					border-bottom: 2px solid $accent;
				}
			}
		}

	}

}

.card {
	display: flex;
	flex-direction: column;
	flex: 1;
	// grid-template-columns: 1fr 2fr;
	// grid-gap: 0 15px;
	// padding: 15px 0;
	margin: .5rem 0 1rem 0;
	border-radius: 2px;
	transition: box-shadow .25s;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
	0 1px 5px 0 rgba(0,0,0,0.12),
	0 3px 1px -2px rgba(0,0,0,0.2);
	background-color: $white;

	.thumbnail {
		width: 100%;
		// max-width: 25%;
		max-height: 200px;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	.card-stacked {
		// display: flex;
		// flex-direction: column;
		// flex: 1;
		position: relative;

		.content {
			padding: 24px;
			border-radius: 0 0 2px 2px;
			flex-grow: 1;
			text-align: left;

			.title {
			}

			.skills {

				li {
					display: inline-block;
					padding: 5px 10px;
					margin: 5px 5px;
					// border: 2px solid $accent;
					background-color: $accent;
					color: $white;
					border-radius: 4px;
				}
			}
		}

		.actions {
			position: relative;
			background-color: inherit;
			border-top: 1px solid rgba(160,160,160,0.2);
			padding: 16px 24px;

			a {
				color: $accent;
				margin: 0 12px;
				-webkit-transition: color .3s ease;
				transition: color .3s ease;
				text-transform: uppercase;

				&:hover {
					color: lighten($accent, 20);
				}
			}
		}
	}
}

footer {
	grid-row: 3 / 3;
	grid-column: 1 / 4;
	font-size: .9rem;
	padding-top: 20px;
	color: #fff;
	background-color: $primary;
	#contact {
		margin-bottom: 20px;
		transition: transform 0.6s ease-in-out;
		a {
			color: $white;
		}
	}
	#bottom {
		overflow: hidden;
		font-weight: 300;
		min-height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		// padding: 10px 0px;
		background-color: darken($primary, 20);
	}
}

li,
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 4.2rem;
	line-height: 110%;
	margin: 2.1rem 0 1.68rem 0
}

h2 {
	font-size: 3.56rem;
	line-height: 110%;
	margin: 1.78rem 0 1.424rem 0
}

h3 {
	color: $secondary;
	font-size: 2.92rem;
	line-height: 110%;
	margin: 1.46rem 0 1.168rem 0
}

h4 {
	font-size: 2.28rem;
	line-height: 110%;
	margin: 1.14rem 0 .912rem 0
}

h5 {
	font-size: 1.64rem;
	line-height: 110%;
	margin: .82rem 0 .656rem 0
}

h6 {
	font-size: 1rem;
	line-height: 110%;
	margin: .5rem 0 .4rem 0
}

* {
	// border: 1px solid red;
}

.button {
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	margin: 0 .25rem;
	z-index: 1;
	transition: .3s ease-out;
	color: $white;
	background-color: $accent;
	letter-spacing: .5px;
	font-size: 1rem;
	outline: 0;
	border: none;
	border-radius: 2px;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	text-transform: uppercase;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

	&:hover {
		background-color: lighten($accent, 20);
		box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
	}

	&:focus {
		background-color: darken($accent, 20);
	}
}

// logo
.line,
.outline {
	fill: none;
	stroke: $white;
	stroke-linecap: round;
	stroke-width: 60px;
}
.line {
	stroke-linejoin: round;
}
.outline {
	stroke-miterlimit: 10;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.App {
		grid-column-gap: 10%;
	}
}
//
// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.App {
		grid-column-gap: 15%;
	}
}
//
// // Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.App {
		grid-column-gap: 25%;
	}
}
//
// // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.App {
		grid-column-gap: 30%;
	}
}
