$primary: #0b3c5d;
$accent: #d9b310;
$dark: #2c2c34;
$light: #fafafa;
$white: #fff;


.icons {
	padding: 10px 0;
	display: inline-flex;
	align-self: center;

	a {
		color: $accent;
		display: flex;
		align-items: center;
		flex-direction: column;

		.icon-text {
			color: $white;
		}
	}

	.icon {
		padding: 0 5px;
		opacity: 1;
		transition: opacity .3s ease;	
		&:hover {
			opacity: 0.75;
		}	
	}
}