$primary: #0b3c5d;
$accent: #d9b310;
$dark: #2c2c34;
$light: #fafafa;
$white: #fff;

#projects {
	.tabs {
		color: $primary;
		padding: 1rem 0;
		align-content: center;
		align-items: center;

		.active {
			border-bottom: 5px solid $accent;
		}

		button {
			background-color: transparent;
			border: none;
			color: $primary;
			transition: border .4s;
			font-size: 1.25rem;
			margin: 0 10px;
			padding: 10px 0;

			&:focus {
				outline: none;
			}

			&:hover:not(.active) {
				border-bottom: 2px solid $accent;
				color: rgba($primary, 0.75);
			}
		}
	}
}