$primary: #0b3c5d;
$accent: #d9b310;
$dark: #2c2c34;
$light: #fafafa;
$white: #fff;

#title {
	grid-row: 1 / 2;
	grid-column: 1 / 4;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	background-color: $primary;
	color: $white;

	h2 {
		text-shadow: 0px 2px 3px $dark;
		font-family: 'Roboto Condensed', sans-serif;
	}

	.icons a span {
		text-shadow: 0px 1px 2px $dark;
	}

	.chevron {
		position: absolute;
		bottom: 5%;
    left: 50%;
		color: $white;
		animation: bounce 4s ease-in-out infinite;
		opacity: 1;
		transition: opacity .3s ease;	
		
		&:hover {
			cursor: pointer;
			opacity: 0.75;
		}
	}
}